<div class="login-form">
  <h1>Log In</h1>
  <form class="form-inline">
    {{input type="text" value=view.email placeholder="Email"}}
    {{input type="password" value=view.password placeholder="Password"}}
    <label>{{input type="checkbox" checked=view.remember}} Remember Me</label>
    <button class="btn btn-inverse">Sign In</button>
  </form>
</div>