<form>
  <label>Email</label>
  {{input type="text" value=view.email}}
  {{input type="password" value=view.password}}
  {{input type="checkbox" checked=view.remember}} <label>Remember Me</label>
  <button>Sign In</button>
</form>