<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Stripfighter</a>
    <ul class="nav">
      <li>{{#linkTo prompts}}Elimination Challenge{{/linkTo}}</li>
      <li>{{#linkTo registration}}Sign Up{{/linkTo}}</li>
      <li>{{#linkTo login}}Login{{/linkTo}}</li>
    </ul>
  </div>
</div>
<div id="container" class="container">
  {{outlet}}
</div>