<div id="container">
  <h1>Elimination Challenge</h1>

  <p>
    You will approach the wastebasket of broken dreams. Inside are ideas which were, perhaps, before their time.
  </p>
  {{outlet}}
</div>