<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Stripfighter</a>
    <ul class="nav">
      <li><a href="/">Elimination Challenge</a></li>
    </ul>
  </div>
</div>
<div id="container" class="container">
  {{view StripfighterEmber.DescriptionView}}
  {{outlet}}
</div>