<div id="container" class="container">
  <div class="row">
    <div class="span12">
      <h1>Elimination Challenge</h1>

      <p>
        You will approach the wastebasket of broken dreams. Inside are ideas which were, perhaps, before their time.
      </p>
    </div>
  </div>
  {{outlet}}
</div>