<button {{action beginChallenge on="click"}} class="btn btn-inverse"><i class="icon-pencil icon-white"></i> Begin!</button>
<div id="js-ready-set-art" class="ready-set-art">
  <span class="js-ready ready">Ready.</span><span class="js-set set">Set.</span><span class="js-art art">ART.</span>
</div>