<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <div align="center"><img src="/assets/stripfighter_logo.jpg"></div>
      <br />
      <p>
        Stripfighter is part art calesthenic and part social network. Based on the elimination challenge from the internet reality show <a href="http://www.stripsearch.tv">Strip Search</a>, Stripfighter enables artists to "play at home" and attempt to create a comic from two random prompts. They can then share the comic with the world and vote on the comics of others.
      </p>
      {{#unless StripfighterEmber.Auth.signedIn}}
        <p>Want to join in? {{#linkTo "registration"}}Sign Up{{/linkTo}} or {{#linkTo "login"}}Login{{/linkTo}}</p>
      {{/unless}}
    </div>
  </div>
</div>