<div class="row">
  <div class="span12">
    <button {{action drawPrompts}} class="btn btn-inverse"><i class="icon-trash icon-white"></i> Draw Prompts</button>
  </div>
</div>
{{#if prompts}}
  <div class="row">
    {{#each prompts}}
    <div class="span6">
      <div class="sf-prompt">
        <h2>{{content}}</h2>
      </div>
    </div>
    {{/each}}
  </div>
  {{view StripfighterEmber.BeginChallengeView}}
{{/if}}

